body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clor{
    background-color: aliceblue;
}